global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    user haproxy
    group haproxy

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend kubernetes-api
    bind *:8443
    default_backend kubernetes-api-servers

backend kubernetes-api-servers
    option tcp-check
    balance roundrobin
    server cp1 172.16.0.2:6443 check fall 3 rise 2
    server cp2 172.16.0.1:6443 check fall 3 rise 2
    server cp3 172.16.0.3:6443 check fall 3 rise 2
